# --- Telegram ---
TOKEN=
TECH_CHANNEL_ID=-1003498991864
MASTER_USERNAME=master_prokolyaski
MY_CHANNEL_ID=-1003540154410
ADMIN_TELEGRAM_ID=6179186123
START_POST=
AI_POST=
GUIDE_POST=
RULES_POST=
MANUAL_POST=
MANUAL2_POST=


# ==============
#        VK
# ==============

# БОТ

VK_GROUP_TOKEN=
VK_GROUP_ID=236264711
VK_SECRET=
VK_CONFIRMATION_CODE=


# Блог мастера

VK_MY_CHANNEL_TOKEN=
VK_MY_CHANNEL_USERNAME=https://vk.com/ivan_prokolyaski
VK_MY_CHANNEL_ID=89051471
VK_SECRET_MY_CHANNEL=
VK_MY_CHANNEL_CONFIRMATION_CODE=


# Магазины

VK_MAG_TOKEN=
VK_MAG_USERNAME=
VK_MAG_ID=
VK_SECRET_MAG=
VK_MAG_CONFIRMATION_CODE=


# Видео, фото, статьи ДЛЯ ЛОГИКИ БОТА

VK_START_POST=video-236264711_456239020_ln-DAKyTAWQvDPmBKAi8y
VK_AI_POST=
VK_GUIDE_POST=video-236264711_456239020_ln-DAKyTAWQvDPmBKAi8y
VK_RULES_POST=video-236264711_456239020_ln-DAKyTAWQvDPmBKAi8y
VK_MANUAL_POST=video-236264711_456239020_ln-DAKyTAWQvDPmBKAi8y
VK_MANUAL2_POST=

VK_AI_VIDEO=video-236264711_456239020_ln-DAKyTAWQvDPmBKAi8y
VK_SERVICE_VIDEO_1=video-236264711_456239020_ln-DAKyTAWQvDPmBKAi8y
VK_SERVICE_VIDEO_2=video-236264711_456239020_ln-DAKyTAWQvDPmBKAi8y

VK_STATYA_PAY=photo-236264711_456239068

# --- PostgreSQL ---
DB_URL=postgresql+asyncpg://Babykea_Bot_alpha:Zamokotzamka2B@localhost:5432/PROkolyaski

#для докера
#POSTGRES_USER=
#POSTGRES_PASSWORD=
#POSTGRES_DB=


# --- Redis ---
REDIS_PASSWORD=
# REDIS_HOST и REDIS_PORT тоже не пиши здесь (ТОЛЬКО для ЛОКАЛКИ), они переопределяются в docker-compose
REDIS_HOST=
REDIS_PORT=


# --- YOOKASSA, Платежи и прочее ---
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=

# Режим оплаты для Telegram: "native" (напрямую ЮKassa) или "landing" (через сайт)
TG_PAYMENT_MODE=native


# --- OpenAI, GOOGLE ---
OPENAI_API_KEY=
ASSISTANT_ID=


GOOGLE_API_KEY=


#WEBHOOK_HOST=https://bot.prokolyaski.ru
#ngrok http 8001
WEBHOOK_HOST=https://49f9-77-238-224-36.ngrok-free.app

DEBUG=True


