# --- Telegram ---
TOKEN=
TECH_CHANNEL_ID=
MASTER_USERNAME=
MY_CHANNEL_ID=
ADMIN_TELEGRAM_ID=
START_POST=
AI_POST=
GUIDE_POST=
RULES_POST=
MANUAL_POST=
MANUAL2_POST=


# === VK ===
VK_GROUP_TOKEN=
VK_GROUP_ID=
VK_SECRET=
VK_CONFIRMATION_CODE=



# --- PostgreSQL ---
DB_URL=postgresql+asyncpg://имяБД:пароль@localhost:5432/имяБД

#для докера
#POSTGRES_USER=
#POSTGRES_PASSWORD=
#POSTGRES_DB=

# --- Redis ---
REDIS_PASSWORD=
# REDIS_HOST и REDIS_PORT тоже не пиши здесь (ТОЛЬКО для ЛОКАЛКИ), они переопределяются в docker-compose
REDIS_HOST=localhost
REDIS_PORT=6379


# --- OpenAI / Платежи и прочее ---
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=live

# Режим оплаты для Telegram: "native" (напрямую ЮKassa) или "landing" (через сайт)
TG_PAYMENT_MODE=native



OPENAI_API_KEY=
ASSISTANT_ID=

GOOGLE_API_KEY=


WEBHOOK_HOST=https://bot.prokolyaski.ru

DEBUG=True